In [1]:
from utils import load_bts_data

df = load_bts_data(separate=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1345617 entries, 0 to 1345616
Data columns (total 19 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   YEAR                   1345617 non-null  int64
 1   DAY_OF_MONTH           1345617 non-null  int64
 2   DAY_OF_WEEK            1345617 non-null  int64
 3   OP_UNIQUE_CARRIER      1345617 non-null  object
 4   TAIL_NUM               1345617 non-null  object
 5   OP_CARRIER_FL_NUM      1345617 non-null  int64
 6   ORIGIN_AIRPORT_ID      1345617 non-null  int64
 7   ORIGIN_CITY_MARKET_ID  1345617 non-null  int64
 8   ORIGIN_CITY_NAME       1345617 non-null  object
 9   ORIGIN_STATE_FIPS      1345617 non-null  int64
 10  ORIGIN_WAC             1345617 non-null  int64
 11  DEST_AIRPORT_ID        1345617 non-null  int64
 12  DEST_CITY_MARKET_ID    1345617 non-null  int64
 13  DEST_CITY_NAME         1345617 non-null  object
 14  DEST_STATE_FIPS        1345617 non-null  int64
 15  DEST_WAC               1345617 non-null  int64
 16  CRS_DEP_TIME           1345617 non-null  int64
 17  ARR_DEL15              1345617 non-null  float64
 18  DISTANCE               1345617 non-null  float64
dtypes: float64(2), int64(13), object(4)
memory usage: 195.1+ MB

In [2]:
df = df.select_dtypes(exclude=['object'])
df

,YEAR,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_CITY_MARKET_ID,ORIGIN_STATE_FIPS,ORIGIN_WAC,DEST_AIRPORT_ID,DEST_CITY_MARKET_ID,DEST_STATE_FIPS,DEST_WAC,CRS_DEP_TIME,ARR_DEL15,DISTANCE
0,2017,1,5,2571,11298,30194,48,74,14524,34524,51,38,705,0.0,1158.0
1,2017,1,5,2603,14524,34524,51,38,11298,30194,48,74,1145,0.0,1158.0
2,2017,1,5,386,11298,30194,48,74,12451,31136,12,33,1510,0.0,918.0
3,2017,1,5,386,12451,31136,12,33,11298,30194,48,74,1925,0.0,918.0
4,2017,1,5,2197,11042,30647,39,44,11298,30194,48,74,1125,0.0,1021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345612,2021,30,4,437,12954,32575,6,91,13796,32457,6,91,1455,1.0,353.0
1345613,2021,30,4,437,13198,33198,29,64,10423,30423,48,74,1025,1.0,650.0
1345614,2021,30,4,438,13796,32457,6,91,12954,32575,6,91,1655,1.0,353.0
1345615,2021,30,4,439,12954,32575,6,91,13796,32457,6,91,1855,1.0,353.0
1345616,2021,30,4,440,13796,32457,6,91,14679,33570,6,91,2055,1.0,446.0

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=['ARR_DEL15']), df['ARR_DEL15'], test_size=0.2)

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': [i for i in range(1,50)]}

clf = DecisionTreeClassifier()

grid_search = GridSearchCV(clf, param_grid, cv=5)

# Fit the grid search object to the training data
grid_search.fit(X_train, y_train)

# Print the best depth found by the grid search
print("Best depth:", grid_search.best_params_['max_depth'])

Best depth: 12

In [6]:
from sklearn.metrics import accuracy_score

# Train the decision tree classifier
clf = DecisionTreeClassifier(max_depth=grid_search.best_params_['max_depth'])
clf.fit(X_train, y_train)

# Make predictions on the testing set
y_pred = clf.predict(X_test)

# Calculate the accuracy of the predictions
accuracy = accuracy_score(y_test, y_pred)

print('Accuracy:', accuracy)

Accuracy: 0.818563190202286